<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.provider">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Service Provider"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".Logout"
            android:exported="false" />
        <activity
            android:name=".Edit"
            android:exported="true" />
        <activity
            android:name=".Dashboard"
            android:exported="true" />
        <activity
            android:name=".About"
            android:exported="true" />
        <activity
            android:name=".Comment"
            android:exported="true" />
        <activity
            android:name=".Display"
            android:exported="true" />
        <activity
            android:name=".Info"
            android:exported="true" />
        <activity
            android:name=".Createpassword"
            android:exported="true" />
        <activity
            android:name=".Demone"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Choice"
            android:exported="true" />
        <activity
            android:name=".Otpverifi"
            android:exported="true" />
        <activity
            android:name=".Singup"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>